{
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "proseWrap": "never",
    "arrowParens": "always",
    "jsxSingleQuote": true,
    "printWidth": 120,
    "jsxBracketSameLine": true
}